body {
    font-family: 'Raleway', sans-serif !important;
    overflow-x: hidden;
}

.top-bar {
    background-color: #1f2533;
    color: white;
    font-size: 15px;
    padding: 8px 0px;
}

.text-white {
    color: white;
}

.nav-bar {
    background-color: white;
    padding: 0px 0px;
    border-bottom: 1px solid #213169 !important;
}

.bg-light {
    background-color: #ffffff !important;
}

.nav-btn {
    color: black !important;
    font-weight: bold;
}

.nav-btn:hover {
    color: #f37c20;
    font-weight: bold;
}

.nav-btn:active {
    color: #f37c20;
    font-weight: bold;
}

.active {
    color: #f37c20 !important;
    font-weight: bold;
}

.navbar-brand {
    color: #006e8e !important;
    font-weight: bold;
    font-size: 25px !important;
}

.navbar-brand2 {
    color: #213169;
}

.banner {
    width: 100%;
}

.banner-text {
    position: absolute;
    margin-left: 10%;
    padding-top: 6%;
    color: white;
    z-index: 1000000000;
    top: 18%;
}

.btn-banner {
    background-color: #006e8e;
    color: white;
    font-weight: bold;
}

.aft-banner {
    background-color: #1f2533;
    color: white;
    padding: 15px 0px;
}

.signup {
    background-color: #1f2533;
    color: white;
    padding: 35px 0px;
}

.g-box {
    background-color: #006e8e;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    width: 160px;
    position: absolute;
    top: -25px;
}

.orange {
    color: #213169;
}

.domains {
    padding-bottom: 10px;
    border-bottom: 1px solid #213169;
    margin-bottom: 10px;
    text-align: center;
}

.btn-org {
    background-color: #213169;

    border: 2px solid #213169;
    color: white;
}

.btn-brop {
    background: #272727;
    color: white;
    width: 60px;
}

.heading {
    color: #006e8e;
    font-weight: bold;
    text-align: center;
}

.smoke {
    background-color: whitesmoke;
    padding: 80px 0px;
}

.price-box {
    background: #fbfbfb;
    text-align: center;
    border: 1px solid silver;
    padding: 25px 15px;
}

.text-org {
    color: #213169
}

.gr-line {
    border-bottom: 1px solid #006e8e;
    margin: 10px;
}

.price-box-dark {
    background: #1f2533;
    text-align: center;
    color: white;
    border: 1px solid silver;
    padding: 50px 15px;
    margin-top: -25px;

}

.text-gr {
    color: #006e8e;
}

.white {
    background-color: white;
    padding: 80px 0px;
}

.bfont {
    font-size: 30px !important;
}

.features {
    color: gray;
    padding: 10px 0px;
}

.bordery {
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 20px;
    position: relative;
}

.bordery::after {
    background-color: white;
    content: "";
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;
}

.bordery::after {
    bottom: -1px;
    right: -1px;
}

.bordery::before {
    top: -1px;
    left: -1px;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}

#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
}

#quote-carousel .carousel-indicators li {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}

#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
    color: #213169;
}

.item blockquote p:after {
    content: "\f10e";
    font-family: 'Fontawesome';
    float: right;
    margin-right: 10px;
    margin-bottom: 15px;
    color: #213169;
}

.testi {
    background-color: #006e8e;
    color: white;
    font-weight: 100;
    padding: 20px;
    margin-bottom: 0px;
}

.down-ar {
    font-size: 80px !important;
    color: #006e8e;
    line-height: 0 !important;
    margin-top: 8px;
    text-align: center;
}

.text-dark {
    color: #006e8e;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}

.dark {
    background-color: #3a3a3a;
    padding: 50px 0px;
}

.nsavbar-brand {
    color: #006e8e;
    font-weight: bold;
    font-size: 25px !important;
}

.darker {
    background-color: #1d1d1d;
    padding: 20px 0px;
}

.login {
    font-size: 14px;
    text-align: right;
}

.navi {
    position: absolute;
    right: 8%
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.2em !important;
    height: 1.2em !important;
}

.wordpress {
    position: absolute;
    z-index: -1;
}

.wordpress-bg {
    background-image: url(../img/wordpress.jpg);
    padding-top: 9%;
    height: 250px;
}

.icons {
    font-size: 22px;
    color: white;
    font-weight: bold;

}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.input-group {
    margin-top: 4%;
}

input.dark-bg {
    background: #272727;
}

#fh5co-footer i.fa {
    color: #fff;
    font-size: 30px;
}

#fh5co-legal a{
    color: #fff;
}

#fh5co-legal a.text-gr{
    color: #006e8e;
}

table {
    width: 100%;
}

.js .animate-box {
    opacity: 0;
}

@media (max-width: 786px) {

    .login {
        font-size: 14px;
        text-align: center;
    }

    .navbar-brand {
        color: #006e8e !important;
        font-weight: bold;
        font-size: 20px !important;
        padding-left: 10px;
    }

    .navi {
        position: inherit;
        right: 8%;
        margin-left: 5%;
    }

    .aft-banner {
        background-color: #1f2533;
        color: white;
        padding: 15px 5%;
    }

    .bordery {
        border-right: 0px solid gainsboro;
        border-bottom: 0px solid gainsboro;
        padding: 20px;
        position: relative;
    }

    .wordpress {
        position: absolute;
        z-index: -1;
        width: 220%;
        margin-left: -50%;
    }

    body {
        font-family: 'Raleway', sans-serif !important;
        overflow-x: hidden;
    }

    .signup {
        background-color: #1f2533;
        color: white;
        padding: 35px 5%;
    }

    .h2, h2 {
        font-size: 1.6rem;
    }

    .h3, h3 {
        font-size: 1.3rem;
    }

    .price-box {
        background: #fbfbfb;
        text-align: center;
        border: 1px solid silver;
        padding: 25px 15px;
        margin-bottom: 45px;
    }

    .price-box-dark {
        background: #1f2533;
        text-align: center;
        color: white;
        border: 1px solid silver;
        padding: 50px 15px;
        margin-top: -25px;
        margin-bottom: 25px;
    }

    .navbar-light .navbar-toggler {
        color: rgba(74, 74, 74, 0.5);
        border-color: rgba(0, 0, 0, .1);
        margin-right: 10px;
    }

    .mtext-center {
        text-align: center;
    }

    .icons {
        font-size: 22px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: -10px;
    }

}